<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
var click_count = 0;
function FindPosition(oElement)
{
  if(typeof( oElement.offsetParent ) != "undefined")
  {
    for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent)
    {
      posX += oElement.offsetLeft;
      posY += oElement.offsetTop;
    }
      return [ posX, posY ];
    }
    else
    {
      return [ oElement.x, oElement.y ];
    }
}

<!-- 좌표 얻는 함수 --> 
function GetCoordinates(e)
{
  var PosX = 0;
  var PosY = 0;
  var ImgPos;


  ImgPos = FindPosition(myImg);
  if (!e) var e = window.event;
  if (e.pageX || e.pageY)
  {
    PosX = e.pageX;
    PosY = e.pageY;
  }
  else if (e.clientX || e.clientY)
    {
      PosX = e.clientX + document.body.scrollLeft
        + document.documentElement.scrollLeft;
      PosY = e.clientY + document.body.scrollTop
        + document.documentElement.scrollTop;
    }
  PosX = PosX - ImgPos[0];
  PosY = PosY - ImgPos[1];
  document.getElementById("x").innerHTML = PosX;
  document.getElementById("y").innerHTML = PosY;
  click_count += 1;
  var pnt_print = click_count + ": [" + PosX + "," + PosY + "]";
  var pnt = "[" + PosX + "," + PosY + "]";

  
  console.log(pnt_print);
  postItem(pnt);
}

<!--좌표 ajax 방식으로 서버로 전송 --> 
function postItem(pnt){
    $.ajax({
        type: "POST",
        url: "/image_coordinate",
        data: { point: pnt },
        timeout: 15000,
    });
}

</script>

<img id="myImgId" alt="" src="/image/b1.png" width="400" height="300" />

<script type="text/javascript">
<!--
var myImg = document.getElementById("myImgId");
myImg.onmousedown = GetCoordinates;
//-->
</script>

<p>X:<span id="x"></span></p>
<p>Y:<span id="y"></span></p>

